body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
from,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 楷体, Helvetica Neue, Helvetica, Tahoma, Arial, PingFang SC, Microsoft YaHei;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button,
img {
    border: none;
    vertical-align: middle;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}